assets/xsd/ssrf_datatype.xsd

<?xml version="1.0" encoding="UTF-8"?>

 <xs:schema xmlns="urn:us:gov:dod:standard:ssrf:4.0.0" xmlns:s="urn:us:gov:dod:standard:ssrf:4.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:us:gov:dod:standard:ssrf:4.0.0">

      <xs:include schemaLocation="ssrf_codelist.xsd"/>
 
          <xs:attributeGroup name="metadata">
               <xs:attribute name="cls" type="c_ListCCL" use="required" />
               <xs:attribute name="rmks" type="c_INDEX_LIST" />
               <xs:attribute name="refs" type="c_INDEX_LIST" />
               <xs:attribute name="releasability" type="c_S_500" />
               <xs:attribute name="compartment" type="c_S_100" />
               <xs:attribute name="quality" type="c_S_250" />
               <xs:attribute name="recommendedValue" type="c_S_250" />
               <xs:attribute name="language" type="c_ListULN" />
          </xs:attributeGroup>

     <xs:simpleType name="DATE_YYYY-MM-DD">
           <xs:restriction base="xs:date">
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_DATE_YYYY-MM-DD">
           <xs:simpleContent>
                <xs:extension base="DATE_YYYY-MM-DD">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="DATETIME_UTC">
           <xs:restriction base="xs:date">
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_DATETIME_UTC">
           <xs:simpleContent>
                <xs:extension base="DATETIME_UTC">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="EMSCLASS">
           <xs:restriction base="xs:string">
                <xs:minLength value="3"/>
                <xs:maxLength value="5"/>
                <xs:pattern value="[A-DFGHJ-NPQRVWX\-][0-3789X\-][A-FNWX\-][A-HJ-NWX]?[CFNTWX]?"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_EMSCLASS">
           <xs:simpleContent>
                <xs:extension base="EMSCLASS">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="INDEX_LIST">
           <xs:list itemType="UN6" />
      </xs:simpleType>

     <xs:complexType name="c_INDEX_LIST">
           <xs:simpleContent>
                <xs:extension base="INDEX_LIST">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="LATITUDE">
           <xs:restriction base="xs:string">
                <xs:minLength value="6"/>
                <xs:maxLength value="10"/>
                <xs:pattern value="(((((([0-8][0-9]))([0-5][0-9]){2})(.[0-9]{1,2})?)|900000)(N|S))|X"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_LATITUDE">
           <xs:simpleContent>
                <xs:extension base="LATITUDE">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>
























































































     <xs:simpleType name="LONGITUDE">
           <xs:restriction base="xs:string">
                <xs:minLength value="7"/>
                <xs:maxLength value="11"/>
                <xs:pattern value="((((((0[0-9]{2})|(1[0-7][0-9]))([0-5][0-9]){2})(.[0-9]{1,2})?)|1800000)(E|W))|X"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_LONGITUDE">
           <xs:simpleContent>
                <xs:extension base="LONGITUDE">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="MEMO">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_MEMO">
           <xs:simpleContent>
                <xs:extension base="MEMO">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_10">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_10">
           <xs:simpleContent>
                <xs:extension base="S_10">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_100">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="100"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_100">
           <xs:simpleContent>
                <xs:extension base="S_100">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_15">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="15"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_15">
           <xs:simpleContent>
                <xs:extension base="S_15">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_16">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="16"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_16">
           <xs:simpleContent>
                <xs:extension base="S_16">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_20">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="20"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_20">
           <xs:simpleContent>
                <xs:extension base="S_20">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_25">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="25"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_25">
           <xs:simpleContent>
                <xs:extension base="S_25">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_250">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="250"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_250">
           <xs:simpleContent>
                <xs:extension base="S_250">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_5">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="5"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_5">
           <xs:simpleContent>
                <xs:extension base="S_5">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_50">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_50">
           <xs:simpleContent>
                <xs:extension base="S_50">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="S_500">
           <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="500"/>
            </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_S_500">
           <xs:simpleContent>
                <xs:extension base="S_500">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="SERIAL">
           <xs:restriction base="xs:string">
                <xs:minLength value="7"/>
                <xs:maxLength value="39"/>
                <xs:pattern value="[A-Z0-9-]{2,10}\.\w{0,4}\.[A-Z]{2}\.[\w-:/]{1,20}"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_SERIAL">
           <xs:simpleContent>
                <xs:extension base="SERIAL">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="SN_10_7">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="10"/>
                <xs:fractionDigits value="7"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_SN_10_7">
           <xs:simpleContent>
                <xs:extension base="SN_10_7">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="SN_16_9">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="16"/>
                <xs:fractionDigits value="9"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_SN_16_9">
           <xs:simpleContent>
                <xs:extension base="SN_16_9">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="SN_6_3">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_SN_6_3">
           <xs:simpleContent>
                <xs:extension base="SN_6_3">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="SN_6_3_180">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
                <xs:minInclusive value="-180"/>
                <xs:maxInclusive value="180"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_SN_6_3_180">
           <xs:simpleContent>
                <xs:extension base="SN_6_3_180">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="SN_6_3_90">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
                <xs:minInclusive value="-90"/>
                <xs:maxInclusive value="90"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_SN_6_3_90">
           <xs:simpleContent>
                <xs:extension base="SN_6_3_90">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="SN_7_2">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="7"/>
                <xs:fractionDigits value="2"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_SN_7_2">
           <xs:simpleContent>
                <xs:extension base="SN_7_2">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_10_4">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="10"/>
                <xs:fractionDigits value="4"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_10_4">
           <xs:simpleContent>
                <xs:extension base="UN_10_4">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_12">
           <xs:restriction base="xs:integer">
                <xs:totalDigits value="12"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_12">
           <xs:simpleContent>
                <xs:extension base="UN_12">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_12_3">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="12"/>
                <xs:fractionDigits value="3"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_12_3">
           <xs:simpleContent>
                <xs:extension base="UN_12_3">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_12_6">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="12"/>
                <xs:fractionDigits value="6"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_12_6">
           <xs:simpleContent>
                <xs:extension base="UN_12_6">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_16_9">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="16"/>
                <xs:fractionDigits value="9"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_16_9">
           <xs:simpleContent>
                <xs:extension base="UN_16_9">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_18_6">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="18"/>
                <xs:fractionDigits value="6"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_18_6">
           <xs:simpleContent>
                <xs:extension base="UN_18_6">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_3_1">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="3"/>
                <xs:fractionDigits value="1"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_3_1">
           <xs:simpleContent>
                <xs:extension base="UN_3_1">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_5">
           <xs:restriction base="xs:integer">
                <xs:totalDigits value="5"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_5">
           <xs:simpleContent>
                <xs:extension base="UN_5">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_5_3">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="5"/>
                <xs:fractionDigits value="3"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_5_3">
           <xs:simpleContent>
                <xs:extension base="UN_5_3">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_6">
           <xs:restriction base="xs:integer">
                <xs:totalDigits value="6"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_6">
           <xs:simpleContent>
                <xs:extension base="UN_6">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_6_3">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_6_3">
           <xs:simpleContent>
                <xs:extension base="UN_6_3">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_6_3_100">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
                <xs:maxInclusive value="100"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_6_3_100">
           <xs:simpleContent>
                <xs:extension base="UN_6_3_100">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_6_3_180">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
                <xs:maxInclusive value="180"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_6_3_180">
           <xs:simpleContent>
                <xs:extension base="UN_6_3_180">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_6_3_360">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
                <xs:maxInclusive value="360"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_6_3_360">
           <xs:simpleContent>
                <xs:extension base="UN_6_3_360">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_6_3_90">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="6"/>
                <xs:fractionDigits value="3"/>
                <xs:maxInclusive value="90"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_6_3_90">
           <xs:simpleContent>
                <xs:extension base="UN_6_3_90">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_7_2">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="7"/>
                <xs:fractionDigits value="2"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_7_2">
           <xs:simpleContent>
                <xs:extension base="UN_7_2">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_9">
           <xs:restriction base="xs:integer">
                <xs:totalDigits value="9"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_9">
           <xs:simpleContent>
                <xs:extension base="UN_9">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

     <xs:simpleType name="UN_9_4">
           <xs:restriction base="xs:decimal">
                <xs:totalDigits value="9"/>
                <xs:fractionDigits value="4"/>
           </xs:restriction>
      </xs:simpleType>

     <xs:complexType name="c_UN_9_4">
           <xs:simpleContent>
                <xs:extension base="UN_9_4">
                     <xs:attributeGroup ref="metadata"/>
                </xs:extension>
           </xs:simpleContent>
      </xs:complexType>

</xs:schema> 